<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wangzhen.reggie.mapper.OrderMapper">

    <select id="selectOrders" resultType="com.wangzhen.reggie.pojo.Orders">
        select * from orders
            <where>
                <if test="number != null and number != '' ">
                    number like #{number}
                </if>
                <if test="beginTime != null and beginTime != '' ">
                    and order_time between #{beginTime} and #{endTime}
                </if>
            </where>
        order by order_time desc
        limit #{page} , #{pageSize}
    </select>
</mapper>